* {
	padding: 0;
	overflow-x: hidden;
}

:root {
/*	--main: #0975ab;*/
--main: #6a92c3;
--second: #31353a;
--third: #4f6d92;
--alternative1: #f484ee;
--alternative2: #84f48a;
--alternative3: #f4c284;
--alternative4: #8c85f4;
}

/*#0040FF*/

@media screen and (orientation: landscape) {
		
	body {
		padding: 0;
		margin: 0;
		background-color: #fff;

		display: flex;
		flex-wrap: wrap;
	}

	/* HEADER */

	.header{
	/*	border-bottom: 3px solid var(--main);*/
		background-color: inherit;
		overflow-y: hidden;


		width: 100%;
		min-height: 3.6rem;
		max-height: 10vh;
		position: fixed;
		top: 0px;
		z-index: 200;

		display: flex;
		justify-content: space-between;
		align-items: center;


	}

	.header h1 {
	/*	border: 1px solid var(--main);*/
		margin-left: 2vw;
		color: var(--alternative4);
		font-family: opensans;
		font-size: 2rem;
	}

	.header__contenedor-boton {
	/*	border: 1px solid var(--main);*/
		background-color: #fff;
		display: flex;
		width: 10vw;
		height: 3.25rem;
		padding-right: 2vw;
		margin-right: 0vw;
		position: normal;
		z-index: 215;

	}

	.header__boton {
	/*	border: 1px solid var(--main);*/
		color: var(--alternative4);
		width: 100%;
		height: 100%;

		font-size: 1.3rem;
		background: inherit;
		border:none;
		overflow-y:  hidden;
	}

	/* NAV */

	.nav {
	/*	border: 1px solid var(--main);*/
		background: inherit;
		overflow-y: hidden;
		width: 50%;
		min-height: 3.6rem;	
		max-height: 10vh;
		margin-left: 30%;
		position: fixed;
		top: 0px;
		z-index: 210;
		display: none;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}
	.nav__options {
		border:none;
		/* border: 1px solid blue; */
		color: #666;
		box-sizing: border-box;
		width: 25%;
		height: 100%;
		padding: 2.5% 0;

		font-size: 1rem;
		font-family: opensans;

		display: flex;
		justify-content: center;
		align-items: center;

	}

	.nav__options:hover {
		transition: all .2s;
		border-bottom: 4px solid var(--alternative4);
		color: var(--alternative4);

	}
	/* ARTÍCULO DE PREENTACIÓN */

	.article {
		/* border: 3px solid red; */
		width: 100%;
		height: 1fr;


		margin-top: 3.6rem;

		display: flex;
		justify-content: center;
		flex-wrap: wrap;

	}

	.article__apartado {
		/* border: 1px solid var(--main); */
		box-sizing: border-box;
		overflow: hidden;
		width: 100%;
		min-width: 600px;
		height: 75vh;

		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		
	}

	.article__apartado h3 {
		/* border: 1px solid var(--main); */
		box-sizing: border-box;
		color: var(--alternative4);

		width: 100%;
		height: 15%;
		padding-left: 2vw;
		margin: 0%;

		font-size: 1.8rem;
		font-family: montserrat;

		display: flex;
		justify-content: left;
		align-items: center;
	}

	.article__apartado p {
		/* border: 1px solid var(--main); */
		overflow: hidden;
		box-sizing: border-box;
		color: var(--alternative4);

		width: 100%;
		height: 57%;
		margin: 0;
		padding: 2px 20%;

		font-size: 1.2rem;
		font-family: montserrat;


		display: flex;
		justify-content: center;
		align-items: center;

	}

	.article__contenedor-boton {
		/* border: 1px solid black; */

		padding: 2rem;
		margin: 0;
		width: 15%;

		display: flex;
		justify-content: center;
		align-items: center;
	}

	.article__contenedor-boton a {
		border: none;
		background: none;
		outline: none;
		font-family: opensans;
		color: var(--alternative4);
		border: 1px solid var(--alternative4);
		border-radius: 2px;
		transition: all 200ms;
		padding: 10px;
	}

	.article__contenedor-boton a:hover {
		transition: all 200ms;
		background-color: var(--alternative4);
		color: #fff;
	}



	.footer {

		width: 100%;
		height: 1fr;
		display: flex;
		padding: 2vw;
		background-color: var(--third);
		color: white;

		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;

	}

	.footer__contenedor-info {
		/* border: 1px solid white; */
		width: 40%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.footer__contenedor-info h3 {
		width: 100%;
		padding-left: 2vw;
		font-family: opensans;
	}

	.footer__contenedor-info li {
		/* border: 1px solid white; */
		font-family: montserrat;
		color: #fff;
		margin: 2vh;
		transition: all 600ms;

	}

	.footer__contenedor-info li:hover {
		transition: all 600ms;
		color: #bbb;
		border-left: 1px solid #fff;
		padding-left: 10px;
	}

	.footer__info {

			border: 1px solid white;
			box-sizing: border-box;


	}

	#footer__footer {
		border-top: 1px solid #ddd;
		box-sizing: border-box;
		color: #ddd;
		width: 90%;
		font-family: montserrat;

		display: flex;
		justify-content: center;
	}


}

@media screen and (orientation: portrait) {
		
	body {
		padding: 0;
		margin: 0;
		background-color: #fff;

		display: flex;
		flex-wrap: wrap;
	}

	/* HEADER */

	.header{
		border-bottom: 3px solid var(--alternative4);
		background-color: inherit;
		overflow-y: hidden;
	
	
		width: 100%;
		height: 8vh;
		position: fixed;
		top: 0px;
		z-index: 200;
	
		display: flex;
		justify-content: center;
		align-items: center;
	
	
	}
	
	.header h1 {
		/* border: 1px solid var(--main); */
		/* background-color: blue; */
		margin-left: 2vw;
		color: var(--alternative4);
		font-family: opensans;
		font-size: 2rem;
	}
	
	.header__contenedor-boton {
		/* border: 1px solid var(--main); */
		background-color: #fff;
		overflow: hidden;
		display: flex;
		width: 10vw;
		height: 7.5vh;
	
		padding-right: 2vw;
		margin-right: 0vw;
		position: fixed;
		right: 2vw;
		top: 0vh;
		z-index: 215;
	}
	
	.header__boton {
		/* border: 2px solid var(--main); */
		color: var(--alternative4);
		width: 100%;
		height: 8vh;
		font-size: 1.8rem;
		background: inherit;
		border:none;
		overflow-y:  hidden;
	}
	
	/* NAV */
	
	.nav {
		border: 1px solid var(--main);
		background: inherit;
		overflow-y: hidden;
		width: 100%;
		height: 1fr;

		margin-left: 0%;
		position: fixed;
		top: 8vh;
		z-index: 210;
		display: none;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}
	.nav__options {
		/* border: 1px solid blue; */
		border: none;
		overflow: hidden;
		color: var(--main);
		box-sizing: border-box;
		width: 100%;
		height: 5vh;
		padding: 1vh 0;
		margin: 1vh 0;
		font-size: 1.2rem;
		font-family: opensans;
	
		display: flex;
		justify-content: center;
		align-items: center;
	
	}
	
	.nav__options:hover {
		transition: all .2s;
		border-bottom: 4px solid var(--main);
		color: var(--main);
	
	}

	/* ARTÍCULO DE PREENTACIÓN */

	.article {
		/* border: 3px solid red; */
		width: 100%;
		height: 1fr;

		margin-top: 8vh;
		margin-bottom: 1vh;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

	}

	.article__apartado {
		/* border: 1px solid var(--main); */
		box-sizing: border-box;
		overflow: hidden;
		width: 100%;
	
		height: 1fr;
		padding-bottom: 1vh;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		
	}

	.article__apartado h3 {
		/* border: 1px solid var(--main); */
		box-sizing: border-box;
		color: var(--alternative4);

		width: 100%;
		height: 15%;
		padding-left: 2vw;
		margin: 0%;

		font-size: 1.5rem;
		font-family: montserrat;

		display: flex;
		justify-content: left;
		align-items: center;
	}

	.article__apartado p {
		/* border: 1px solid black; */
		overflow: hidden;
		box-sizing: border-box;
		color: var(--alternative4);

		width: 100%;
		height: 1fr;
		margin: 0;
		padding: 2vh 5vw;

		font-size: 1rem;
		font-family: montserrat;
		letter-spacing: 1px;
		line-height: 1.3;
		text-align: center;

		display: flex;
		justify-content: center;
		align-items: center;

	}

	.article__contenedor-boton {
		/* border: 1px solid black; */
		padding: 1rem;
		
		margin: 0;
		margin-bottom: 1rem;	
		min-width: 100px;
		width: 30%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.article__contenedor-boton a {
		border: none;
		background: none;
		outline: none;
		font-family: opensans;
		color: var(--alternative4);
		border: 1px solid var(--alternative4);
		border-radius: 2px;
		transition: all 200ms;
		padding: 10px;
	}

	.article__contenedor-boton a:hover {
		transition: all 200ms;
		background-color: var(--alternative4);
		color: #fff;
	}



	.footer {
	
		width: 100%;
		height: 1fr;
		display: flex;
		padding: 2vw;
		background-color: var(--main);
		color: white;
		margin: 0%;
	
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	
	}
	
	.footer__contenedor-info {
		/* border: 1px solid white; */
		width: 90%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	
	.footer__contenedor-info h3 {
		width: 100%;
		padding-left: 2vw;
		font-family: opensans;
		font-size: 1.4rem;
	}
	
	.footer__contenedor-info li {
		/* border: 1px solid white; */
		font-family: montserrat;
		font-size: 1rem;
		color: #fff;
		margin: 2vh;
		transition: all 600ms;
	
	}
	
	.footer__contenedor-info li:hover {
		transition: all 600ms;
		color: #bbb;
		border-left: 1px solid #fff;
		padding-left: 10px;
	}
	
	.footer__info {
			border: 1px solid white;
			box-sizing: border-box;
	}
	
	#footer__footer {
		border-top: 1px solid #ddd;
		box-sizing: border-box;
		color: #eee;
		width: 90%;
		font-family: montserrat;
		font-size: .8rem;	
		display: flex;
		justify-content: center;
		text-align: center;
	}


}



a:visited {
	text-decoration: none;
}

a:link{
	text-decoration: none;
}


@keyframes juntar {

	0%{
		transform: translateX(0);
	}

	100% {
		transform: translateX(120%);
	}

}

@keyframes primera {
	0% {
		height: 10%
	}
	100% {
		height: 30%;
			border-top-left-radius: 4vh 25%;
	border-top-right-radius: 4vh 25%;
	border-bottom-right-radius: 4vh 25%;
	border-bottom-left-radius: 4vh 25%;

	}
}


@keyframes segunda {
	0% {
		height: 10%;
	}
	100% {
		height: 55%;
			border-top-left-radius: 5.5vh 25%;
	border-top-right-radius: 5.5vh 25%;
	border-bottom-right-radius: 5.5vh 25%;
	border-bottom-left-radius: 5.5vh 25%;
	}
}



@keyframes tercera {
	0% {
		height: 10%
	}
	100% {
		height: 80%;
			border-top-left-radius: 8vh 25%;
	border-top-right-radius: 8vh 25%;
	border-bottom-right-radius: 8vh 25%;
	border-bottom-left-radius: 8vh 25%;
	}
}


@keyframes objetos {

	0%{
		transform: translateY(0%);
	}
	100%{
		transform: translateY(-10%);
	}

}

@keyframes abrir {
	0%{
		display: flex;
		transform: translateX(150%);
		
	}
	100%{
		transform: translateX(0);
		/*z-index: 210;*/
	}

}

@keyframes cerrar {
	0%{
		transform: translateX(0);	
		
	}
	100%{
		transform: translateX(150%);
		display: none;


	}
}

@keyframes abrirMobile {
	0%{
		display: flex;
		margin-top: -74vw;
	}
	100%{
		margin-top: 0vw; 
	}
}

@keyframes cerrarMobile {
	0%{
		margin-top: 0vw;
	}
	100%{
		margin-top: -74vw;
		display: none;
	}
}

@keyframes navboton {
0%{
	transform: translateX(0);
}

100%{
	transform: translateX(-50%);
}
}




@font-face {
font-family: Nunito;
src: url('Nunito-VariableFont_wght.ttf');
font-style: normal;
font-weight: normal;
}

@font-face {
font-family: Ubuntu;
src: url('Ubuntu-Medium.ttf');
font-style: normal;
font-weight: normal;
}


@font-face {
	font-family: montserrat;
	src: url('Montserrat-VariableFont_wght.ttf');
	font-style: normal;
	font-weight: normal;
	}
	
@font-face {
		font-family: opensans;
		src: url('OpenSans_Condensed-Bold.ttf');
		font-style: normal;
		font-weight: normal;
		}
	