* {
	padding: 0;
	overflow-x: hidden;
}

:root {
	--main: #f484ee;
	--second: #31353a;
	--third: #4f6d92;
	--alternative1: #6a92c3;
	--alternative2: #84f48a;
	--alternative3: #f4c284;
	--alternative4: #8c85f4;
}

/*#0040FF*/

@media screen and (orientation: landscape) {
	
	body {
		padding: 0;
		margin: 0;
		background-color: #fff;

		display: flex;
		flex-wrap: wrap;
	}

	/* HEADER */

	.header{
	/*	border-bottom: 3px solid var(--main);*/
		background-color: inherit;
		overflow-y: hidden;


		width: 100%;
		min-height: 3.6rem;
		max-height: 10vh;
		position: fixed;
		top: 0px;
		z-index: 200;

		display: flex;
		justify-content: space-between;
		align-items: center;


	}

	.header h1 {
	/*	border: 1px solid var(--main);*/
		margin-left: 2vw;
		color: var(--main);
		font-family: opensans;
		font-size: 2rem;
	}

	.header__contenedor-boton {
	/*	border: 1px solid var(--main);*/
		background-color: #fff;
		display: flex;
		width: 10vw;
		height: 3.25rem;
		padding-right: 2vw;
		margin-right: 0vw;
		position: normal;
		z-index: 215;

	}

	.header__boton {
	/*	border: 1px solid var(--main);*/
		color: var(--main);
		width: 100%;
		height: 100%;

		font-size: 1.3rem;
		background: inherit;
		border:none;
		overflow-y:  hidden;
	}

	/* NAV */

	.nav {
	/*	border: 1px solid var(--main);*/
		background: inherit;
		overflow-y: hidden;
		width: 50%;
		min-height: 3.6rem;	
		max-height: 10vh;
		margin-left: 30%;
		position: fixed;
		top: 0px;
		z-index: 210;
		display: none;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}

	.nav__options {
		border:none;
		/* border: 1px solid blue; */
		color: #666;
		box-sizing: border-box;
		width: 25%;
		height: 100%;
		padding: 2.5% 0;

		font-size: 1rem;
		font-family: opensans;

		display: flex;
		justify-content: center;
		align-items: center;

	}

	.nav__options:hover {
		transition: all .2s;
		border-bottom: 4px solid var(--main);
		color: var(--main);

	}

	/* ARTICLE */	


	.article__main {
	/*	border: 4px solid red;*/

		width: 100%;
		height: 1fr;

		margin-top: 3.6rem;

		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
	}

	.article__introduccion {
	/*	border: 1px solid black;*/
		color: var(--main);
		width: 100%;
		height: 1fr;

		padding: .8rem;
		padding-bottom: 0.1rem;
		margin-bottom: 0;

		display: flex;
		align-items: flex-end;
	}

	.article__introduccion h3 {
		display: none;
		color: var(--main);

			font-family: ubuntu;
		font-size: 1.5rem;

	}

	.article__introduccion p {

		font-family: montserrat;
		font-size: 1.3rem;
	}

	.article__selector {
		border-bottom: 1px solid var(--main);
	/*	border: 3px solid var(--main);*/
		
		width: 100%;
		height: 2.5rem;

		margin-top: 0rem;
		margin-left: 1rem;
		margin-right: 1rem;



		box-sizing: border-box;
		display: flex;
		justify-content: space-between;
		align-items: stretch;
	}

	.article__selector p {
		border-bottom: 1px solid #eee;
		color: #666;
		min-width: 3rem;
		width: 15%;
		margin: 0;

		font-family: opensans;
		box-sizing: border-box;

		display: flex;
		justify-content: center;
		align-items: center;
	}

	.article__contenedor-proyectos{
	/*		border: 2px solid black;*/
			background-color: inherit;

			width: 100%;
			min-height: 150vh;
			height: 1fr;
			margin: 5px 1rem;

			display: flex;
			flex-wrap: wrap;
			justify-content: center;

	}

	.article__object {
		border: 1px solid #ddd;
		border-left: 2px solid var(--main);
		min-width: 10rem;
		width: 14.2rem;
		height: 1fr;
		min-height: 18rem;
		max-height: 18rem;
		box-shadow: 0px 2px #eee;

		margin: 5vh 2rem;

		position: normal;
		z-index: 4;

		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;

		border-radius: 5px;

		transition: all 1s;
	}

	.article__object h4 {
	/*	border: 1px solid var(--main);*/
		box-sizing: border-box;
		width: 100%;
		height: 16%;
		margin: 0;
	/*	padding: 0.5rem;*/
		font-size: 1.1rem;
		align-self: flex-start;
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: opensans;
	}

	.article__object img {
		border-bottom: none;
		width: 100%;
		height: 50%;
		margin: 0;
		box-sizing: border-box;
		object-fit: cover;

		border-top-left-radius: 5px;
		border-top-right-radius: 5px; 	

	}

	.article__object p {
	/*	border: 1px solid var(--main);*/
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 22%;
		text-align: center;
		padding: 0.2rem 1rem;
		margin: 0;

		box-sizing: border-box;
		font-size: 0.9rem;
		font-family: nunito;
	}


	.article__object a {

		width: 100%;
		height: 12%;
		display: flex;
		align-items: center;
		justify-content: center;	
	/*	border: 1px solid var(--main);*/
		box-sizing: border-box;
		background: inherit;
		color: var(--main);

		margin-bottom: 0;

		padding: 3px 2px;
		font-family: montserrat;
		font-size: 0.8rem;

	}

	.article__object a:hover {
		transition: all .2s;
		background-color: var(--main);
		color: #fff;
		border: 1px solid var(--main);
	}

	#main__questions {
		/* border: 1px solid black; */
		box-sizing: border-box;

		width: 100%;
		min-height: 300px;
		height: 25vh;

		display: none;
		justify-content: center;
		align-items: center;
	}





	/*FOOTER*/


	.footer {

		width: 100%;
		height: 1fr;
		display: flex;
		padding: 2vw;
		background-color: var(--main);
		color: white;

		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;

	}

	.footer__contenedor-info {
		/* border: 1px solid white; */
		width: 40%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.footer__contenedor-info h3 {
		width: 100%;
		padding-left: 2vw;
		font-family: opensans;
	}

	.footer__contenedor-info li {
		/* border: 1px solid white; */
		font-family: montserrat;
		color: #fff;
		margin: 2vh;
		transition: all 600ms;

	}

	.footer__contenedor-info li:hover {
		transition: all 600ms;
		color: #bbb;
		border-left: 1px solid #fff;
		padding-left: 10px;
	}

	.footer__info {

			border: 1px solid white;
			box-sizing: border-box;


	}

	#footer__footer {
		border-top: 1px solid #ddd;
		box-sizing: border-box;
		color: #ddd;
		width: 90%;
		font-family: montserrat;

		display: flex;
		justify-content: center;
	}
	
}

@media screen and (orientation: portrait) {
	
	body {
		padding: 0;
		margin: 0;
		background-color: #fff;

		display: flex;
		flex-wrap: wrap;
	}

	/* HEADER */

	.header{
		border-bottom: 3px solid var(--main);
		background-color: inherit;
		overflow-y: hidden;
	
	
		width: 100%;
		height: 8vh;
		position: fixed;
		top: 0px;
		z-index: 200;
	
		display: flex;
		justify-content: center;
		align-items: center;
	
	
	}
	
	.header h1 {
		/* border: 1px solid var(--main); */
		/* background-color: blue; */
		margin-left: 2vw;
		color: var(--main);
		font-family: opensans;
		font-size: 4.5rem;
	}
	
	.header__contenedor-boton {
		/* border: 1px solid var(--main); */
		background-color: #fff;
		overflow: hidden;
		display: flex;
		width: 10vw;
		height: 7.5vh;
	
		padding-right: 2vw;
		margin-right: 0vw;
		position: fixed;
		right: 2vw;
		top: 0vh;
		z-index: 215;
	}
	
	
	.header__boton {
		/* border: 2px solid var(--main); */
		color: var(--main);
		width: 100%;
		height: 100%;
		font-size: 3.8rem;
		background: inherit;
		border:none;
		overflow-y:  hidden;
	}
	
	/* NAV */
	
	.nav {
		border: 1px solid var(--main);
		background: inherit;
		overflow-y: hidden;
		width: 100%;
		height: 1fr;

		margin-left: 0%;
		position: fixed;
		top: 8vh;
		z-index: 210;
		display: none;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}
	.nav__options {
		/* border: 1px solid blue; */
		border: none;
		overflow: hidden;
		color: var(--main);
		box-sizing: border-box;
		width: 100%;
		height: 5vh;
		padding: 1vh 0;
		margin: 1vh 0;
		font-size: 3rem;
		font-family: opensans;
	
		display: flex;
		justify-content: center;
		align-items: center;
	
	}
	
	.nav__options:hover {
		transition: all .2s;
		border-bottom: 4px solid var(--main);
		color: var(--main);
	
	}
	/* ARTICLE */	


	.article__main {
	/*	border: 4px solid red;*/

		width: 100%;
		height: 1fr;

		margin-top: 8vh;

		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
	}

	.article__introduccion {
		/* border: 1px solid black; */
		color: var(--main);
		width: 100%;
		height: 1fr;

		padding: .8rem;
		padding-bottom: 0.1rem;
		margin-bottom: 0;

		display: flex;
		align-items: flex-end;
	}

	.article__introduccion h3 {
		/* border: 1px solid black; */
		display: none;
		color: var(--main);
		font-family: ubuntu;
		font-size: 2.5rem;

	}

	.article__introduccion p {
		/* border: 1px solid black; */
		font-family: montserrat;
		font-size: 1.6rem;
	}

	.article__selector {
		border-bottom: 1px solid var(--main);
	/*	border: 3px solid var(--main);*/
		
		width: 100%;
		height: 5vh;

		margin-top: 0rem;
		margin-left: 1rem;
		margin-right: 1rem;

		box-sizing: border-box;
		display: flex;
		justify-content: space-between;
		align-items: stretch;
	}

	.article__selector p {
		/* border: 1px solid black; */
		border-bottom: 1px solid #eee;
		color: #666;
		width: 25%;
		margin: 0;

		font-family: opensans;
		font-size: 2.2rem;
		box-sizing: border-box;

		display: flex;
		justify-content: center;
		align-items: center;
	}

	.article__contenedor-proyectos{
	/*		border: 2px solid black;*/
			background-color: inherit;

			width: 100%;
			min-height: 25vh;
			height: 1fr;
			margin: 5px 5%rem;

			display: flex;
			flex-wrap: wrap;
			justify-content: center;

	}

	.article__object {
		border: 1px solid #ddd;
		border-left: 2px solid var(--main);
		width: 40%;
		height: 20vh;
		box-shadow: 0px 2px #eee;

		margin: 2vh 2%;

		position: normal;
		z-index: 4;

		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;

		border-radius: 5px;

		transition: all 1s;
	}

	.article__object h4 {
		/* border: 1px solid var(--main); */
		box-sizing: border-box;
		width: 100%;
		height: 25%;
		margin: 0;
	/*	padding: 0.5rem;*/
		font-size: 2rem;
		align-self: flex-start;
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: opensans;
	}

	.article__object img {
		border-bottom: none;
		width: 100%;
		height: 60%;
		margin: 0;
		box-sizing: border-box;
		object-fit: cover;
		align-self: flex-start;
		margin-top: 1px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px; 	

	}

	.article__object p {
	/*	border: 1px solid var(--main);*/
		display: none;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 22%;
		text-align: center;
		padding: 0.2rem 1rem;
		margin: 0;

		box-sizing: border-box;
		font-size: 0.9rem;
		font-family: nunito;
	}


	.article__object a {

		width: 100%;
		height: 12%;
		display: flex;
		align-self: flex-end;
		align-items: center;
		justify-content: center;	
		/* border: 1px solid var(--main); */
		box-sizing: border-box;
		background: inherit;
		color: var(--main);

		margin-bottom: 0;

		padding: 3px 2px;
		font-family: montserrat;
		font-size: 1.5rem;

	}

	.article__object a:hover {
		transition: all .2s;
		background-color: var(--main);
		color: #fff;
		border: 1px solid var(--main);
	}

	/*Main preguntas*/

	#main__questions {
		/* border: 1px solid black; */
		box-sizing: border-box;

		width: 100%;
		min-height: 300px;
		height: 25vh;

		display: flex;
		justify-content: center;
		align-items: center;
	}

	#main__contenedor-questions {
		/* border: 1px solid black; */
		box-sizing: border-box;

		width: 100%;
		height: 100%;
		
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

	}

	#main__contenedor-questions p {
		/* border: 1px solid black; */
		box-sizing: border-box;
		color: var(--main);
		width: 100%;
		height: 80%;
		margin: 0;
		padding: 6px;
		font-size: 2.2rem;
		font-family: montserrat;
		text-align: center;
		letter-spacing: 2px;

		display: flex;
		justify-content: center;
		align-items: center;
	}

	#main__contenedor-questions a {
		overflow: hidden;
		/* border: 1px solid black; */
		border-radius: 4px;
		box-sizing: border-box;
		color: #666;
		width: 25%;
		height: 12%;
		padding: 2px;

		font-size: 2.3rem;
		font-family: opensans;
		align-self: flex-start;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all 200ms ease;
	}

	#main__contenedor-questions a:hover {
		transition: all 600ms ease;
		color: #fff;
		background-color: var(--main);
	}

	/*FOOTER*/


	
	.footer {
	
		width: 100%;
		height: 1fr;
		display: flex;
		padding: 2vw;
		background-color: var(--main);
		color: white;
	
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	
	}
	
	.footer__contenedor-info {
		/* border: 1px solid white; */
		width: 90%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	
	.footer__contenedor-info h3 {
		width: 100%;
		padding-left: 2vw;
		font-family: opensans;
		font-size: 3rem;
	}
	
	.footer__contenedor-info li {
		/* border: 1px solid white; */
		font-family: montserrat;
		font-size: 2.2rem;
		color: #fff;
		margin: 2vh;
		transition: all 600ms;
	
	}
	
	.footer__contenedor-info li:hover {
		transition: all 600ms;
		color: #bbb;
		border-left: 1px solid #fff;
		padding-left: 10px;
	}
	
	.footer__info {
	
			border: 1px solid white;
			box-sizing: border-box;
	
	
	}
	
	#footer__footer {
		border-top: 1px solid #ddd;
		box-sizing: border-box;
		color: #ddd;
		width: 90%;
		font-family: montserrat;
		font-size: 2rem;	
		display: flex;
		justify-content: center;
		text-align: center;
	}
	
}


a:visited {
	text-decoration: none;
}

a:link{
	text-decoration: none;
}


@keyframes abrir {
	0%{
		display: flex;
		transform: translateX(150%);
		
	}
	100%{
		transform: translateX(0);
		/*z-index: 210;*/
	}

}

@keyframes cerrar {
	0%{
		transform: translateX(0);	
		
	}
	100%{
		transform: translateX(150%);
		display: none;


	}
}


@keyframes navboton {
0%{
	transform: translateX(0);
}

100%{
	transform: translateX(-50%);
}
}



@keyframes aparecerObjetos {
	0% {
		opacity: 0;
		transform: translateY(20px);

	}
	100%{
		opacity: 1;
		transform: translateY(0px);	
	}
}


@keyframes reaparecer {
	0% {
		opacity: 0;
		transform: translateY(20px);

	}
	100%{
		opacity: 1;
		transform: translateY(0px);	
	}

}




@font-face {
font-family: Nunito;
src: url('Nunito-VariableFont_wght.ttf');
font-style: normal;
font-weight: normal;
}

@font-face {
font-family: Ubuntu;
src: url('Ubuntu-Medium.ttf');
font-style: normal;
font-weight: normal;
}


@font-face {
	font-family: montserrat;
	src: url('Montserrat-VariableFont_wght.ttf');
	font-style: normal;
	font-weight: normal;
	}
	
@font-face {
		font-family: opensans;
		src: url('OpenSans_Condensed-Bold.ttf');
		font-style: normal;
		font-weight: normal;
		}
	